
#p3{ height: 100px; 
    width: 100px;  
    background-color: aqua;
    border-radius: 50%;
   /* border-style: solid ;
    border-width: 5px;
    border-color: blue;*/
    
    border: solid 5px blue;
   
    
}

#p2{ height: 100px;
    background-color: blueviolet;

}

#p1{ height: 100px;
     background-color: aquamarine;

}