
#p3{ height: 100px;     
    background-color: aqua; 
    
}

#p2{ height: 100px;
    background-color: blueviolet;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
    padding-bottom: 800px;
    
}

#p1{ height: 100px;
     background-color: aquamarine;

}

p{
    margin-top: 1em;
    margin-bottom: 0;
}
/*Nessa aula vimos o conceito de margin e padding basicamente,
margin é a margem da nosso objeto selecionado que está apra a pagina ou 
elemento e padding seria a margem dentro do elemento, como uam div  por exemplo*/