@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body{
    font-family: lato;
    margin: 0; /* LEMBRE BEM ESSA FUNÇÃO TIRA A MARGEM E ESPAÇAMENTO DE DENTRO NATURAL DO NOSSO CORPO */
    padding: 0;
    
}
.conteiner{
    position: relative;
    
}

#header{
    line-height: 82px;
    height: 62px;
    background-color: #ff6a28;
    text-align: center;
    margin: auto; /* ESSA FUNÇÃO DELIMITA QUAL ESPAÇAMENTO SERA UTILIZADO*/
}
.bolo{   
    width: 100%;
    height: 500px;
    background: url('./imagens/fuba.webp');
    margin-bottom: 100px;
    background-position: center;
    background-size: cover;
} 

.bolo img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;

}

h1,h2{
    color: #ff6a28;
}

h1{
    text-align: center; 
    margin-bottom: 50px;
    
}

h2{
  
    margin-bottom: 40px;
}



.cartao{
    max-width: 800px;
    margin: auto;    
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 10px;
    line-height: 32px;    

}

.cartao:hover{
    border-style: solid;
    border: 1px;
    box-shadow: 8px 8px 15px 12px rgba(205, 205,205, 0.25);
}

.ifood a{
    background-color: #ff6a28;
    margin-top: 40px;
    padding: 10px;           
    border-radius: 10px;
    text-decoration: none;
    color: white;

}
.add{
    margin-bottom: 100px;
}

.ingredientes {
    cursor: url("./imagens/satoru-gojo-one-piece-hd-wallpaper-preview.jpg"), auto;
}

.preparo {
    cursor: url("./imagens/preparar.png"), auto;
}

.add {
    cursor: url("./imagens/preparar.png"), auto;
}


.footer{
    line-height: 82px;
    height: 62px;
    background-color: #ff6a28;
    text-align: center;
    margin: auto; 
    text-align: center;

}

.texto {
    max-width: 500px;
    margin:auto;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.mail{
    color: white;
    text-decoration: none;
}

li{
    margin-bottom: 15px;
}

.lista1{
    margin-bottom: 50px;
}