@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body{
    font-family: lato;
    margin: 0; /* LEMBRE BEM ESSA FUNÇÃO TIRA A MARGEM E ESPAÇAMENTO DE DENTRO NATURAL DO NOSSO CORPO */
    padding: 0;
}

#header{
    line-height: 82px;
    height: 62px;
    background-color: #ff6a28;
    text-align: center;
    margin: auto; /* ESSA FUNÇÃO DELIMITA QUAL ESPAÇAMENTO SERA UTILIZADO*/
}
.bolo{   
    max-width: 100%;
    height: 500px;
    background: url('./imagens/fuba.webp');
    margin-bottom: 30px;
}

h1{
    text-align: right;
    max-width: 800px;
    color: #ff6a28;
}
h2{
    color: #ff6a28;
}

.ingredientes{
    max-width: 800px;
    margin: auto;    
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    line-height: 32px;
    

}

.ingredientes:hover{
    border-style: solid;
    border: 5px, black;
}

a{
    background-color: #ff6a28;
    margin-top: 40px;
    padding: 10px;
    border-style: solid; 
    border: 1px;   
    border-radius: 10px;
    text-decoration: none;

}

a:visited{
    color: black;
    
}

.modo{
    max-width: 800px;
    margin: auto;
    
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    line-height: 32px;

}

.modo:hover{
    border-style: solid;
    border: 5px, black;
}

.adicionais{
    max-width: 800px;
    margin: auto;    
    padding: 30px;
    border-radius: 10px;
    line-height: 32px;
}

.adicionais:hover{
    border-style: solid;
    border: 5px, black;
}